h1{ text-align: center;
    font-size: xx-large;
    font-family: 'Bebas Neue', cursive;
    color:rgb(255, 255, 255)
}
.content{
    margin-top: 30px;
}
#type-label{
    width: 100px;
}
select{
    width: 240px;
}
#time{
    width: 190px;
}
#date {
    width: 350px;
}
label{ display: flex; justify-content: center;
    margin: auto;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color:rgb(255, 255, 255)
}
.label-input{margin: auto;
    margin-bottom: 30px;
    width:fit-content;
    border:2px solid rgb(156, 166, 255);
    border-radius: 7%;
}
.label-select{ display: flex; justify-content: center;
    margin: auto;
    margin-bottom: 30px;
    width:fit-content;
    border:2px solid rgb(156, 166, 255);
}
.button-am {
	background-color:#ededed 5%;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Bebas Neue', cursive;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
}
.button-am:hover {
	background:linear-gradient(to bottom, #ededed 5%, #787373 30%);
	background-color:#ededed;
}
.button-am:active {
	position:relative;
	top:1px;
} 
.button-am:focus {
	background-color:rgb(99, 99, 102);
}
.button-pm {
	background-color:#ededed 5%;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Bebas Neue', cursive;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
}
.button-pm:hover {
	background:linear-gradient(to bottom, #ededed 5%, #787373 30%);
	background-color:#ededed;
}
.button-pm:active {
	position:relative;
	top:1px;
} 
.button-pm:focus {
	background-color:rgb(99, 99, 102);
}
.back-button {
    border:2px solid rgb(156, 166, 255);
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(165 166 246);

}

.back-button:hover {
    background-color: rgba(165 166 246);
}

.back-button:active {
    background:linear-gradient(to bottom, rgba(165 166 246) 5%, #ededed 100%);
	background-color:rgba(165 166 246);
    position:relative;
	top:1px;
}
.next-button {
    border:2px solid rgb(156, 166, 255);
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(94 100 255);
  
}

.next-button:hover {
    background-color: rgba(94 100 255);
}

.next-button:active {
    background:linear-gradient(to bottom, rgba(94 100 255) 5%, #ededed 100%);
	background-color:rgba(94 100 255);
    position:relative;
	top:1px;
}
.end-button{ display: flex;
    justify-content: space-evenly;
    align-items: center;
}
