html {
    height: 100%;
}
#profile{ 
    width: 50px;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.content-box-1{
    display: flex;
    margin-top: 30px;
    border-radius: 25px;
    width: 300px;
    padding: 26px 0px;
    background-color: rgb(255, 255, 255);
    justify-content: flex-end;
}
.content-box-2{
    display: flex;
    margin-top: 30px;
    border-radius: 25px;
    width: 300px;
    padding: 36px 0px;
    background-color: rgb(255, 255, 255);
    justify-content: flex-end;
}
@media (max-width: 600px) {
    .content-box-2 {
      display: none;
    }
  }

.content-box-3{
    display: flex;
    margin-top: 30px;
    border-radius: 25px;
    width: 300px;
    padding: 26px 0px;
    background-color: rgb(255, 255, 255);
    justify-content: flex-end;
}
@media (max-width: 900px) {
    .content-box-3 {
      display: none;
    }
  }
.boxed{
    display:flex ;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 120px;
    margin-right: 120px;
}
.content{
    display: flex;
}
#heart-rate{
    width: 50%;
}
#current{
    font-weight: bold;
    font-size: x-large;
}
.inner-text{
    display: flex;
    flex-direction: column;
}
#o2{
    width: 50%;
}
#o2bar{
    width: 50%;
}
#bloodpressure
{
    width: 50%;
}